/*-- scss:defaults --*/

/* basic colors for highlighting themes */
/* based off of the PTOL color scheme */
$light: #eceada;
$info: #238f9d;
$secondary: #42a7c6;
$primary: #ffb954;
$success: #00767b;
$warning: #c6622a;
$danger: #d11807;
$dark: #a01813;

/* highlighting colors */
$my-blue: $secondary;
$my-red: $danger;
$my-green: $warning;
$my-orange: $primary;
$my-grey: $dark;

$my-yellow: #f0941f;
$my-light: #90a19d;
$my-dark: #363432;

/*-- scss:rules --*/

.blue {
	color: $my-blue;
	font-weight: bold;
}

.orange {
	color: $my-orange;
	font-weight: bold;
}

.yellow {
	color: $my-yellow;
	font-weight: bold;
}

.dark {
	color: $my-dark;
	font-weight: bold;
}

.light {
	color: $my-light;
	font-weight: bold;
}

.red {
	color: $my-red;
	font-weight: bold;
}

.green {
	color: $my-green;
	font-weight: bold;
}

.grey {
	color: $my-grey;
	font-weight: normal;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.smallest {
	font-size: 22px;
}

.dates {
  float: right;
  font-style: italic;
}

