/*-- scss:defaults --*/

$accent: #ffb954;

/* General styling */

.cvdate {
  float: right;
  font-style: italic;

}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

html {
  font-family: 'Arial', sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: $accent;
  text-align: center;
  margin-block-end: 0em;
  margin-bottom: 0;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  /* color: blueviolet; */
}

h3 {
  font-weight: 600;
  text-transform: uppercase;
  /* color: green; */
}

p {
  font-size: small;
}

ul {
  list-style: none;
  padding-left: 0em;
}

ul li{
  font-size: smaller;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: $accent;
}

/* adapt stylesheet for print
from: https://github.com/quarto-dev/quarto-cli/discussions/2538#discussioncomment-4081842 */

/* for page-breaks use style spans
  page-break-before: always;
  page-break-after: always;
*/
